body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #efe1ce;
}
.main-section {
  background-image: linear-gradient(blueviolet, pink);
  width: 100%;
  height: 550px;
  font-family: "Allura", cursive;
  font-weight: 700;
}
#main-heading {
  display: flex;
  padding-top: 100px;
  margin: auto;
  justify-content: center;
  align-items: center;
  font-size: 200px;
  color: white;
  text-align: center;
  font-style: italic;
}
h2 {
  display: flex;
  padding-top: 25px;
  margin: auto;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  color: whitesmoke;
  text-align: center;
}
h3 {
  display: flex;
  padding-top: 25px;
  margin: auto;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: whitesmoke;
  text-align: center;
  text-decoration: underline;
}
.event {
  background-image: linear-gradient(#ee9ca7, #ffdde1);
  margin: 50px auto;
  border: solid 2px black;
  border-radius: 20px;
  overflow: hidden;
  text-justify: auto;
}
.hackathon {
  background-image: linear-gradient(#ee9ca7, #ffdde1);
  margin: 50px auto;
  border: solid 2px black;
  border-radius: 20px;
  overflow: hidden;
  text-justify: auto;
}

.image {
  width: 100%;
  margin: 50px auto;
  height: 250px;
  border-radius: 25px;
  box-shadow: 10px 10px 5px rgb(226, 152, 193);
  -moz-box-shadow: 10px 10px 5px rgb(226, 152, 193);
  -webkit-box-shadow: 10px 10px 5px rgb(226, 152, 193);
  -khtml-box-shadow: 10px 10px 5px rgb(226, 152, 193);
}

.choices {
  font-size: 2rem;
}
.subject {
  background-image: linear-gradient(#ee9ca7, #ffdde1);
  margin: 50px auto;
  border-radius: 5px;
  overflow: hidden;
  text-justify: auto;
}

.subjects {
  margin: 25px auto;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #a683e3;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked + p {
  text-decoration: line-through;
  text-decoration-color: #a683e3;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

.add {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #a683e3;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #a683e3;
}

::placeholder {
  color: grey;
  opacity: 1;
}

.signup-button {
  position: absolute;
  top: 5px;
  right:5%;
}
